{#
Please visit https://github.com/markocupic/contao-collapsible-sidebar#readme learn more about how to configure the extension.
#}

{% do addJavascriptResource('bundles/markocupiccontaocollapsiblesidebar/js/collapsible_sidebar.min.js|static') %}

{# Remove the following line, when using your own CSS. #}
{% do addCssResource('bundles/markocupiccontaocollapsiblesidebar/css/collapsible_sidebar.css|static') %}

{% extends '@Contao/block_unsearchable' %}

{% block content %}
    <div class="inside">
        {#
        Please visit https://github.com/markocupic/contao-collapsible-sidebar#readme learn more about how to configure the extension.

        Here comes the toggle button:
        Use TWIG or a contao insert tag to include toggle button:
            TWIG: {% include '@Contao/collapsible_sidebar_toggle' with {'aria_controls': css_id} %}
            Contao Insert Tag: {{ '{{collapsible_sidebar_toggle::' ~ css_id ~ '}}'|raw }}
        #}
        {% include '@Contao/collapsible_sidebar_toggle' with {'aria_controls': css_id} %}
        {#
        Customizing the toggle button:
        Feel free and build your own version of the toggle button. Be aware to not forget the mandatory class- and aria-attributes!:

        <div id="collapsibleSidebarToggle" class="collapsible-sidebar-toggle" role="button" aria-expanded="true" aria-haspopup="true" aria-controls="' ~ css_id ~ '" aria-hidden="false">
            <span class="icon">☰</span> Open Sidebar
        </div>
        #}

        {#
        Your custom content goes here:
        Add frontend modules, articles, html and what ever you want:

        {{ '{{insert_module::99 }}'|raw }}

        {{ '{{insert_article::999 }}'|raw }}

        <div>
            <p>Lorem ipsum...</p>
        </div>
        #}
        <h1>I'm your collapsible content.</h1>

        {# Instantiate the ContaoCollapsibleSidebar object.  #}
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                new ContaoCollapsibleSidebar('{{ css_id }}');
            });
        </script>

    </div>

    {{ parent() }}

{% endblock %}
